{
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "react-hot-loader/babel",
    "babel-plugin-styled-components"
  ],
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "entry"
      }
    ],
    "@babel/preset-typescript",
    "@babel/preset-react"
  ]
}