.formContainer {
  /*background-color: rgba(0, 234, 107,0.5);*/
  /*padding: 20px;*/
  /*border: 1px dashed black;*/
  /*border-radius: 5px;*/
  /*box-shadow: 3px 3px 2px #888888;*/
}

.taxPercentageSign {
  line-height: 2;
}

.currencyPicker {
  width: 4em;
  margin: 0 10px 0 5px;
  line-height: 2;
  position: relative;
}

.currencyPicker::after {
  content: "";
  position: absolute;
  display: block;
  top:calc(50% - 5px);
  right:5px;
  width:0px;
  height: 0px;
  border-top: 10px solid rgba(0, 234, 107, 0.5);
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  background-color: white;
}

.currencyUnitContainer {
  border: 0;
  appearance: none;
  width: 100%;
  padding: 10px;
  & .currencyUnit {
    border-bottom: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    transition: max-height 0.5s ease, background-color 0.5s ease;
  }
}

