.invoiceWrapper {
    padding: 20px;
    border: 1px dashed black;
    box-shadow: 3px 3px 2px #888888;
}

.verticalBase {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.invoiceHeader {
    composes: verticalBase;
    align-items: flex-end;
    & .headerInfo,
    & .clientInfo {

    }
}

.header {
    font-size:1.5em;
    font-weight: 700;
    color: rgb(0, 234, 107);
}

.smallHeader {
    font-size: 1.1em;
    font-weight: 700;
}

.factureInfo {
    composes: verticalBase;
    align-items: center;
}

.incomeInfo {
    composes: verticalBase;
    align-items: flex-start;
    & .incomeDesc {
        margin-right:10px;
    }
    & .incomeSum {
        min-width: 8em;
    }
}

.taxAdditionalText {
    font-size: 0.6em;
    margin: 10px 0;
}